.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-container {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: red
}

body {
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

.custom-navbar {
    height: 100px;
    /* Set the desired height for your navbar */
}

.custom-navbar .navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-toggler {
    margin-right: 15px;
}

.custom-navbar .navbar-nav {
    margin-right: 10px;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    /* Podesite prema potrebi, veći broj za veći prioritet */
}