.container {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
}

.info,
.booking-form {
    width: 800px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: black;
    border-width: 5px;
    text-align: center;
    border: 1px solid #ccc;
}


h1 {
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 600px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}