<app-user-header></app-user-header>

<body>
    <div class="center-screen">
        <form class="form-container">
            <div class="form-group">
                <label for="InputUsername">Korisnicko ime</label>
                <input type="text" class="form-control" name="InputUsername" placeholder="Korisnicko ime"
                    [(ngModel)]="username">
            </div>
            <div class="form-group">
                <label for="InputPassword">Lozinka</label>
                <input type="password" class="form-control" name="InputPassword" placeholder="Lozinka"
                    [(ngModel)]="password">
            </div>
            <div class="button-container">
                <button type="button" class="btn btn-primary" (click)="login()">Prijavi se</button>
                <button type="button" class="btn btn-primary" (click)="back()">Nazad</button>
            </div>
            <div class="oswald">
                {{errorMessage}}
            </div>
        </form>
    </div>
</body>

<app-footer></app-footer>