.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-container {
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.oswald {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: red
}

body {
    background-color: lightblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}