<app-patient-header></app-patient-header>

<body>
    <div class="center-screen">>
        <form class="form-container">
            <div class="form-group">
                <label for="InputPasswordOld">Stara lozinka</label>
                <input type="password" class="form-control" name="InputPasswordOld" aria-describedby="emailHelp"
                    placeholder="old password" [(ngModel)]="oldPassword">
            </div>
            <div class="form-group">
                <label for="InputPasswordNew">Nova lozinka</label>
                <input type="password" class="form-control" name="InputPasswordNew" aria-describedby="emailHelp"
                    placeholder="new password" [(ngModel)]="newPassword">
            </div>
            <div class="form-group">
                <label for="InputPasswordNew2">Potvrdi novu lozinku</label>
                <input type="password" class="form-control" name="InputPasswordNew2" placeholder="confirm new password"
                    [(ngModel)]="confirmPassword">
            </div>
            <div class="button-container">
                <button type="button" class="btn btn-primary" (click)="reset()">Resetuj</button>
                <button type="button" class="btn btn-primary" (click)="back()">Nazad</button>
            </div>
            <div class="oswald">
                {{errorMessage}}
            </div>
        </form>
    </div>
</body>

<app-footer></app-footer>