<app-doctor-header></app-doctor-header>

<div class="center-screen">
    <form class="examination-form">
        <h1>Dodaj Pregled:</h1>
        <div class="form-group">
            <label for="name">Naziv Pregleda</label>
            <input type="text" id="name" name="name" [(ngModel)]="name" required>
        </div>
        <div class="form-group">
            <label for="duration">Duzina pregleda (min)</label>
            <input type="number" id="duration" name="duration" [(ngModel)]="duration">
        </div>
        <div class="form-group">
            <label for="price">Cena pregleda(RSD)</label>
            <input type="number" id="price" name="price" [(ngModel)]="price" required>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="addExamination()">Dodaj</button>
        </div>
        <p class="oswald">{{errorMessage2}}</p>
    </form>

    <form class="examination-form">
        <h1>Dodaj Slobodne dane:</h1>
        <div class="form-group">
            <label for="begin">Datum pocetka</label>
            <input type="date" id="begin" name="begin" [(ngModel)]="begin">
        </div>
        <div class="form-group">
            <label for="end">Datum kraja</label>
            <input type="date" id="end" name="end" [(ngModel)]="end" required>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="addFreeDays()">Dodaj</button>
        </div>
        <p class="oswald">{{errorMessage}}</p>
        <p class="green-oswald">{{successMessage}}</p>
    </form>
</div>

<app-footer></app-footer>