<nav class="navbar navbar-expand-lg navbar-light custom-navbar sticky-header">
    <a class="navbar-brand d-flex align-items-center" href="patient/profile">
        <img src="http://localhost:4000/logo.png" alt="logo" width="60" height="60">
        <span class="logo">Care Connect</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button type="button" class="btn btn-outline-primary btn-lg" style="margin-right: 10px;"
                (click)="redirectToProfile()">Profil</button>
            <button type="button" class="btn btn-outline-primary btn-lg" style="margin-right: 10px;"
                (click)="redirectToDoctors()">Lekari</button>
            <button type="button" class="btn btn-outline-primary btn-lg" style="margin-right: 10px;"
                (click)="redirectToAppointments()">Pregledi</button>
            <button type="button" class="btn btn-outline-primary btn-lg" style="margin-right: 10px;"
                (click)="redirectToNotifications()">Obavestenja</button>
            <button type="button" class="btn btn-outline-primary btn-lg" style="margin-right: 10px;"
                (click)="logout()">Odjava</button>
        </div>
    </div>
</nav>
<div style="background-color: #e3f2fd;">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>