<app-patient-header></app-patient-header>

<div class="center-screen">
    <div class="container">
        <h1>Pregledi</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Pregled</th>
                    <th>Datum i vreme</th>
                    <th>Ogranak</th>
                    <th>Lekar</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{ appointment.examination.name }}</td>
                    <td>{{ getFormattedDate(appointment.dateAndTime) }}</td>
                    <td>{{ appointment.doctor.department }}</td>
                    <td>{{ appointment.doctor.name }} {{ appointment.doctor.surname }}</td>
                    <td><button class="btn btn-danger" (click)="deleteAppointment(appointment)">Otkaži</button></td>
                </tr>
            </tbody>
        </table>

        <h1>Izveštaji</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Datum i Vreme</th>
                    <th>Lekar</th>
                    <th>Specijalizacija</th>
                    <th>Razlog dolaska</th>
                    <th>Dijagnoza</th>
                    <th>Terapija</th>
                    <th>Datum kontrole</th>
                </tr>
            </thead>
            <tbody>
                <!-- Angular niz sa izveštajima -->
                <tr *ngFor="let medicalReport of medicalReports">
                    <td>{{ getFormattedDate(medicalReport.appointment.dateAndTime) }}</td>
                    <td>{{ medicalReport.doctor.name }} {{ medicalReport.doctor.surname }}</td>
                    <td>{{ medicalReport.doctor.speciality }}</td>
                    <td>{{ medicalReport.visitReason }}</td>
                    <td>{{ medicalReport.diagnosis }}</td>
                    <td>{{ medicalReport.therapy }}</td>
                    <td>{{ medicalReport.controlDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<app-footer></app-footer>